extends ../layout/layout

block content
	#contentwrapper
		.main_content
			.row-fluid

				b people.nate.com list scrap
				div
					| Start:
					input#nate_listStart(type='text', value='')
				div
					| end:
					input#nate_listEnd(type='text', value='')
				div
					input#nate_listScrap(type='button', value='리스트 수')
				br
				b people.nate.com person scrap
				div
					| Start:
					input#nate_personStart(type='text', value='')
				div
					| end:
					input#nate_personEnd(type='text', value='')
				div
					input#nate_personScrap(type='button', value='인물 수집')
				br					
				b Console:
				ul#console
	script(src='http://localhost:3100/socket.io/socket.io.js')
	script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
	script(src='/ws/scraper.js')
	include ../layout/sidebar