extends layout/layout

block content
	#contentwrapper
		.main_content.error_page
			.row-fluid
				.error_box
					h1 #{title}
					p #{error}
					a.back_link.btn.btn-small(herf="javascript:history.back()") Go back 
	include layout/sidebar