extends layout/layout

block content
  #contentwrapper
    .main_content
      .row-fluid
        form(method="post", action="/login").login.row
          if typeof return_to != 'undefined'
            input(type="hidden", name="return_to", value=return_to)
          fieldset.well.span4.offset4
            if typeof flashMessage != 'undefined'
              div.alert.alert-error
                != flashMessage
                button(type="button", data-dismiss="alert").close x
            div.item: input(type="text", name="id", required, placeholder="아이디", title="아이디")
            div.item: input(type="password", name="password", required, placeholder="패스워드", title="패스워드")
            div.enter
              button(type="submit").btn.btn-primary: strong= "로그인"
  include layout/sidebar