extends layout/layout

block content
	#contentwrapper
		.main_content
			.row-fluid
				h1 #{title}

				style(type='text/css')
					html , body {
					font: normal 0.9em arial , helvetica;
					}
				script(src='http://localhost:3001/socket.io/socket.io.js')
				script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
				script(src='/test.js')
				div
					| Actor:
					input#actor(type='text', value='')
				div
					input#search(type='button', value='search')
				br

				b Create new employee
				div
					| Name:
					input#employee_name(type='text', value='')
				div
					| Salary:
					input#employee_salary(type='text', value='')
				div
					input#save(type='button', value='Save')
				br
				b List of Employees:
				ul#employees


				a.back_link.btn.btn-small(herf="javascript:history.back()") Go back 
	include layout/sidebar