// https://github.com/seaofclouds/tweet
// https://github.com/search?q=youtube+jquery&ref=commandbar
extends layout/layout

block content
	#contentwrapper: .main_content
		.row-fluid
			h1
				img(src="img/rinker.png",style='max-width:700px', alt=title)
			p
				a.btn(href="/search?q=") 전체 보기  
				a.btn(href="/socket") 소켓 테스트  
				a.btn(href="/users") 그래프 테스트  
				a.btn(href="/search?q=") 트위터 테스트  															
				a.btn(href="/search?q=이동건") 이동건 검색결과  
				a.btn(href="http://hanseungho.github.com/rinker/") Github  
	include layout/sidebar행