/* ---- Gebo Admin blue theme ---- */

    .navbar-inner {
        background: #ffffff;
        background: -moz-linear-gradient(top, #ffffff 0%, #f9f9f9 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f9f9f9));
        background: -webkit-linear-gradient(top, #ffffff 0%,#f9f9f9 100%);
        background: -o-linear-gradient(top, #ffffff 0%,#f9f9f9 100%);
        background: -ms-linear-gradient(top, #ffffff 0%,#f9f9f9 100%);
        background: linear-gradient(top, #ffffff 0%,#f9f9f9 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f9f9f9',GradientType=0 );
        border-bottom: #ce286b 2px solid
    }
    a{
        color: #CC2064;
    }
    .navbar .nav > li > a {
        color: #545454;
    }
    .navbar .nav > li:hover > a {
        color:#ce286b;
    }
    .navbar .nav .active > a, .navbar .nav .active > a:hover {
        background: #206484;
    }
    .navbar .divider-vertical {
        background-color:#f4f4f4;
        border-color:#e2e2e2;
    }
    .dropdown-menu li > a:hover, .dropdown-menu .active > a,
	.dropdown-menu .active > a:hover,
    .nav-list > .active > a, .nav-list > .active > a:hover {
        background: #48a6d2 !important;
    }
	
	.table thead th {background-color:#ebf2f6 !important}
	.dataTables_wrapper th.sorting_asc,.dataTables_wrapper th.sorting_desc {background-color:#d4e3eb !important}
