!!! 5
html(lang='ko')
head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		title #{title}
		// Bootstrap framework 
		link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
		link(rel='stylesheet', href='/bootstrap/css/bootstrap-responsive.min.css')
		// rinker blue theme
		link#link_theme(rel='stylesheet', href='/css/blue.css')
		// breadcrumbs
		link(rel='stylesheet', href='/lib/jBreadcrumbs/css/BreadCrumb.css')
		// tooltips
		link(rel='stylesheet', href='/lib/qtip2/jquery.qtip.min.css')
		// notifications 
		link(rel='stylesheet', href='/lib/sticky/sticky.css')
		// splashy icons 
		link(rel='stylesheet', href='/img/splashy/splashy.css')
		// colorbox 
		link(rel='stylesheet', href='/lib/colorbox/colorbox.css')
		// video player 
		link(rel='stylesheet', href='http://vjs.zencdn.net/c/video-js.css')
		// main styles 
		link(rel='stylesheet', href='/css/style.css')
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=PT+Sans')
		// Favicon 
		//link(rel='shortcut icon', href='favicon.ico')
		//if lte IE 8
			link(rel='stylesheet', href='/css/ie.css')
			script(src='/js/ie/html5.js')
			script(src='/js/ie/respond.min.js')
		script
			//* hide all elements & show preloader
			document.documentElement.className += 'js';
	body
		#loading_layer(style='display: none;')
			img(src='/img/ajax_loader.gif', alt='')
		.style_switcher
			.sepH_c
				p Colors:
				.clearfix
					a.style_item.jQclr.blue_theme.style_active(href='javascript:void(0)', title='blue') blue
					a.style_item.jQclr.dark_theme(href='javascript:void(0)', title='dark') dark
					a.style_item.jQclr.green_theme(href='javascript:void(0)', title='green') green
					a.style_item.jQclr.brown_theme(href='javascript:void(0)', title='brown') brown
					a.style_item.jQclr.eastern_blue_theme(href='javascript:void(0)', title='eastern_blue') eastern blue
					a.style_item.jQclr.tamarillo_theme(href='javascript:void(0)', title='tamarillo') tamarillo
			.sepH_c
				p Backgrounds:
				.clearfix
					span.style_item.jQptrn.style_active.ptrn_def(title='')
					span.ssw_ptrn_a.style_item.jQptrn(title='ptrn_a')
					span.ssw_ptrn_b.style_item.jQptrn(title='ptrn_b')
					span.ssw_ptrn_c.style_item.jQptrn(title='ptrn_c')
					span.ssw_ptrn_d.style_item.jQptrn(title='ptrn_d')
					span.ssw_ptrn_e.style_item.jQptrn(title='ptrn_e')
			.sepH_c
				p Layout:
				.clearfix
					label.radio.inline
						input#ssw_layout_fluid(type='radio', name='ssw_layout', value='', checked='checked')
						| Fluid
					label.radio.inline
						input#ssw_layout_fixed(type='radio', name='ssw_layout', value='rinker-fixed')
						| Fixed
			.sepH_c
				p Sidebar position:
				.clearfix
					label.radio.inline
						input#ssw_sidebar_left(type='radio', name='ssw_sidebar', value='', checked='checked')
						| Left
					label.radio.inline
						input#ssw_sidebar_right(type='radio', name='ssw_sidebar', value='sidebar_right')
						| Right
			.sepH_c
				p Show top menu on:
				.clearfix
					label.radio.inline
						input#ssw_menu_click(type='radio', name='ssw_menu', value='', checked='checked')
						| Click
					label.radio.inline
						input#ssw_menu_hover(type='radio', name='ssw_menu', value='menu_hover')
						| Hover
			.gh_button-group
				a#showCss.btn.btn-primary.btn-mini(href='#') Show CSS
				a#resetDefault.btn.btn-mini(href='#') Reset
			.hide
				ul#ssw_styles
					li.small.ssw_mbColor.sepH_a(style='display: none;')
						| body {
						span.ssw_mColor.sepH_a(style='display: none;')
							| color: #
							span
							| ;
						span.ssw_bColor(style='display: none;')
							| background-color: #
							span
						| }
					li.small.ssw_lColor.sepH_a(style='display: none;')
						| a { color: #
						span
						| }
		#maincontainer.clearfix
			// header 
			header
				.navbar.navbar-fixed-top
					.navbar-inner
						.container-fluid
							a.brand(href='/')
								img(src='/img/logo.png', alt='Rinker')
							ul.nav.user_menu.pull-right
								li.hidden-phone.hidden-tablet
									.nb_boxes.clearfix
										a.label.ttip_b(data-toggle='modal', data-backdrop='static', href='#myMail', title='New messages')
											| 25
											i.splashy-mail_light
										a.label.ttip_b(data-toggle='modal', data-backdrop='static', href='#myTasks', title='New tasks')
											| 10
											i.splashy-calendar_week
								li.divider-vertical.hidden-phone.hidden-tablet
								li.dropdown
									a.dropdown-toggle(href='#', data-toggle='dropdown')
										if user
											| #{user.name} (#{user.id})
										else
											| 손님 (Guest)
										b.caret
									ul.dropdown-menu
										if user
											li
												a(href='user_profile.html') 즐겨찾기
											li
												a(href='/user/#{user.id}') 정보수정
											li.divider
											li
												a(href='/logout') 로그아웃
										else
											li
												a(href='/login') 로그인
											li
												a(href='/user/new') 회원가입											
							a.btn_menu(data-target='.nav-collapse', data-toggle='collapse')
								span.icon-align-justify									
							nav
								.nav-collapse
									ul.nav
										li
											form.input-append(action='/search', method='get')
												input.search_query.input-medium(autocomplete='off', name='q', size='16', type='text', placeholder='검색')
												button.btn(type='submit')
													i.icon-search
				#myTasks.modal.hide.fade
					.modal-header
						button.close(data-dismiss='modal') ×
						h3 새로운 데이터터
					.modal-body
						.alert.alert-info In this table jquery plugin turns a table row into a clickable link.
						table.table.table-condensed.table-striped(data-rowlink='a')
							thead
								tr
									th id
									th Summary
									th Updated
									th Priority
									th Status
							tbody
								tr
									td P-23
									td
										a(href='javascript:void(0)') Admin should not break if URL…
									td 23/05/2012
									td.tac
										span.label.label-important High
									td Open
								tr
									td P-18
									td
										a(href='javascript:void(0)') Displaying submenus in custom…
									td 22/05/2012
									td.tac
										span.label.label-warning Medium
									td Reopen
								tr
									td P-25
									td
										a(href='javascript:void(0)') Featured image on post types…
									td 22/05/2012
									td.tac
										span.label.label-success Low
									td Updated
								tr
									td P-10
									td
										a(href='javascript:void(0)') Multiple feed fixes and…
									td 17/05/2012
									td.tac
										span.label.label-warning Medium
									td Open
					.modal-footer
						a.btn(href='javascript:void(0)') Go to task manager
			block content


			script(src='/js/jquery.min.js')
			// smart resize event 
			script(src='/js/jquery.debouncedresize.min.js')
			// hidden elements width/height 
			script(src='/js/jquery.actual.min.js')
			// js cookie plugin 
			script(src='/js/jquery.cookie.min.js')
			// main bootstrap js 
			script(src='/bootstrap/js/bootstrap.min.js')
			// tooltips 
			script(src='/lib/qtip2/jquery.qtip.min.js')
			// jBreadcrumbs 
			script(src='/lib/jBreadcrumbs/js/jquery.jBreadCrumb.1.1.min.js')
			// fix for ios orientation change 
			script(src='/js/ios-orientationchange-fix.js')
			// scrollbar 
			script(src='/lib/antiscroll/antiscroll.js')
			script(src='/lib/antiscroll/jquery-mousewheel.js')
			// common functions 
			script(src='/js/rinker_common.js')
			// video player 
			script(src='http://vjs.zencdn.net/c/video.js')
			// colorbox 
			script(src='/lib/colorbox/jquery.colorbox.min.js')
			// multi-column layout 
			script(src='/js/jquery.imagesloaded.min.js')
			script(src='/js/jquery.wookmark.js')
			// gallery functions 
			script(src='/js/rinker_gallery.js')
			script
				$(document).ready(function() {
				//* show all elements & remove preloader
				setTimeout('$("html").removeClass("js")',100);
				});
