a.sidebar_switch.on_switch.ttip_r(href='javascript:void(0)', title='Hide Sidebar') Sidebar switch
.sidebar
	.antiScroll
		.antiscroll-inner
			.antiscroll-content
				.sidebar_inner
					#side_accordion.accordion
						.accordion-groupS
							.accordion-heading
								a.accordion-toggle(href='#collapseOne', data-parent='#side_accordion', data-toggle='collapse')
									i.icon-folder-close
									|  콘텐츠 분류
							#collapseOne.accordion-body.collapse
								.accordion-inner
									ul.nav.nav-list
										li
											a(href='javascript:void(0)') 인물
										li
											a(href='javascript:void(0)') 영화
										li
											a(href='javascript:void(0)') 음악
										li
											a(href='javascript:void(0)') 방송
						.accordion-group
							.accordion-heading
								a.accordion-toggle(href='#collapseTwo', data-parent='#side_accordion', data-toggle='collapse')
									i.icon-th
									|  보기 형식
							#collapseTwo.accordion-body.collapse
								.accordion-inner
									ul.nav.nav-list
										li
											a(href='javascript:void(0)') 다이나믹 그리드
										li
											a(href='javascript:void(0)') 목록
										li
											a(href='javascript:void(0)') 그리드
						.accordion-group
							.accordion-heading
								a.accordion-toggle(href='#collapseThree', data-parent='#side_accordion', data-toggle='collapse')
									i.icon-user
									|  인물 분류
							#collapseThree.accordion-body.collapse
								.accordion-inner
									ul.nav.nav-list
										li
											a(href='javascript:void(0)') 연예인
										li
											a(href='javascript:void(0)') 영화인
										li
											a(href='javascript:void(0)') 방송인
										li
											a(href='javascript:void(0)') 기타
						.accordion-group
							.accordion-heading
								a.accordion-toggle(href='#collapseFour', data-parent='#side_accordion', data-toggle='collapse')
									i.icon-cog
									|  관리자
							#collapseFour.accordion-body.collapse
								.accordion-inner
									ul.nav.nav-list
										li
											form.input-append(action='/sql', method='get')
												select(name='use',style='width:160px')
													option repository
												input.search_query.input-medium(autocomplete='off', name='sql', size='16', type='text', placeholder='SQL QUERY')
												button.btn(type='submit')
													i.icon-search	
										li.nav-header 회원 관리
										li
											a(href='/users') 사용자 목록
										li
											a(href='/users/new') 새 사용자 추가
										li.nav-header 데이터베이스
										li
											a(href='javascript:void(0)') 주 저장소
										li
											a(href='javascript:void(0)') 임시 저장소
										li
											a(href='/graph') 그래프 색인
										li.nav-header 데이터 수집
										li
											a(href='/scraper') 웹 수집
										li
											a(href='javascript:void(0)') Open API 수집
										li.divider
										li
											a(href='javascript:void(0)') 도움
						.accordion-group
							.accordion-heading
								a.accordion-toggle(href='#collapseLong', data-parent='#side_accordion', data-toggle='collapse')
									i.icon-leaf
									|  추천 검색어
							#collapseLong.accordion-body.collapse
								.accordion-inner
									| 아이유가 부른 노래
									br
									| 제작중
					.push
				.sidebar_info
					ul.unstyled
						li
							span.act.act-warning 65
							strong 새로운 인물
						li
							span.act.act-success 10
							strong 새로운 영화
						li
							span.act.act-danger 85
							strong 새로운 음											